section.service
	.container
		.service__content
			.row
				.col-lg-6.col-xl-4
					+serviceCard(1, 'area1', 'Отдел продаж под ключ', 'И нет сомнений, что базовые сценарии поведения пользователей призваны к ответу. Противоположная точка зрения акционеры крупнейших компаний являются только. ')
				.col-lg-6.col-xl-4
					+serviceCard(1, 'area1', 'Внедрение CRM', 'И нет сомнений, что базовые сценарии поведения пользователей призваны к ответу. Противоположная точка зрения акционеры крупнейших компаний являются только. ')
				.col-lg-6.col-xl-4
					+serviceCard(1, 'area1', 'Подбор и оценка персонала', 'И нет сомнений, что базовые сценарии поведения пользователей призваны к ответу. Противоположная точка зрения акционеры крупнейших компаний являются только. ')
				.col-lg-6
					+serviceCard(1, 'area1', 'Обучение продажам', 'И нет сомнений, что базовые сценарии поведения пользователей призваны к ответу. Противоположная точка зрения акционеры крупнейших компаний являются только. ')(class="service-card--long")
				.col-lg-6
					+serviceCard(1, 'area1', 'Дополнительные услуги', 'И нет сомнений, что базовые сценарии поведения пользователей призваны к ответу. Противоположная точка зрения акционеры крупнейших компаний являются только. ')(class="service-card--long")