header.header
	.container.container-large
		.nav-content
			.logo-box
				a(href="#!").logo
					img(src="img/logo.png", alt="logo" width="203")
				.logo-text Услуги по повышению эффективности отделов продаж
			.nav-menu.main-menu#navMenu
				nav
					a(href="#!") Главная
					a(href="#!") О компании
					.nav-menu__submenu
						nav
							a(href="#!") Отдел продаж под ключ
							a(href="#!") Внедрение CRM
							a(href="#!") Подбор и оценка персонала
							a(href="#!") Обучение продажам
							a(href="#!") Дополнительные услуги
					a(href="#!") Кейсы
					a(href="#!") Контакты
			.contacts-block
				.contacts-phone
					a(href="#!") +7 (343) 382-41-74
				.contacts-badge
					span
					p Сейчас работаем
			.menu-toggle
				span
.hidden-layout
.header-top
	.container.container-large
		.submenu.main-menu
			nav
				a(href="#!") Отдел продаж под ключ
				a(href="#!") Внедрение CRM
				a(href="#!") Подбор и оценка персонала
				a(href="#!") Обучение
				a(href="#!") Дополнительные услуги

.header-banner
	.header-banner__content
		h1 Увеличим прибыль вашего бизнеса и построим эффективный отдел продаж 
		p Имеем большой опыт в продажах и консалтинге с 1999 года
		.mouse-icon
			span
			span

//- section(style="margin-top: 100px")
//- 	.container
//- 		.row
//- 			.col-xl-4
//- 				+areaCard('title','icon', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. ')
//- 			.col-xl-4
//- 				+areaCard('title','icon', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. ')
//- section(style="margin-top: 100px; margin-bottom: 100px;")
//- 	.section
//- 		.form-inner
//- 			.form-content
//- 				.form-text
//- 					h3 Для получения #[span.text-blue персонального]#[br] коммерческого предложения:
//- 					ul
//- 						li Заполните Ваши данные
//- 						li Нажмите кнопку "Отправить контакты"
//- 				form(action="").contact-form
//- 					.form-item
//- 						input(type="text" plsceholder="Имя") 
//- 					.form-item
//- 						input(type="text" plsceholder="Номер телефона") 
//- 					.form-item
//- 						input(type="text" plsceholder="Е-mail")
//- 					.form-btn
//- 						a(href="#!").button Отправить контакты
//- section(style="margin-bottom: 100px;")
//- 	.container
//- 		a(href="#!").case-card
//- 			.card-logo 
//- 				span Logo
//- 			.case-card__img
//- 			.case-card__text
//- 				h4 title
//- 				p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
//- 			.link-block
//- 				span Подробнее
//- section(style="margin-top: 100px;")
//- 	.container
//- 		button.button-red.button
//- 			span &#10059;
//- 			span Отправить контакты
//- 		button.button-light.button 
//- 			span Кнопка прозрачная
//- 		#answers
//- 			.card
//- 				#headingOne.card-header
//- 					h5
//- 						button.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
//- 							| Будет ли заказанный букет в точности соответствовать его изображению на сайте?
//- 							span.arrow.rotate
//- 								+upArrow
//- 				#collapseOne.collapsable.collapse.show(aria-labelledby="headingOne" data-parent="#answers")
//- 					.card-body 	Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.
					
//- 			.card
//- 				#headingTwo.card-header
					
//- 					h5
//- 						button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
//- 							| Какие сроки доставки цветов?
//- 							span.arrow
//- 								+upArrow
//- 				#collapseTwo.collapsable.collapse(aria-labelledby="headingTwo" data-parent="#answers")
//- 					.card-body Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.
						
//- 			.card
//- 				#headingThree.card-header
//- 					h5
//- 						button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
//- 							| Звоните ли вы получателю перед доставкой? Что будет, если получателя не окажется по адресу доставки? 
//- 							span.arrow
//- 								+upArrow
//- 				#collapseThree.collapsable.collapse(aria-labelledby="headingThree" data-parent="#answers")
//- 					.card-body Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.
